.container { 
    background: url(https://pibig.info/uploads/posts/2022-05/1651860433_1-pibig-info-p-atmosfernie-oboi-na-rabochii-stol-krasivo-1.jpg);
    border: 4px solid rgb(38, 0, 255);
    background-repeat: no-repeat;
    border-right-color: lime;
    border-left-color: lime;
}

.img {
    width: 300px;
    height: 200px;
    margin-left: 100px;
    border: 3px solid lime;
    opacity: 0.6;
    transform: translate3d(0.3);
}

.img2{
    width: 300px;
    height: 200px;
    margin-left: 500px;
    border: 3px solid lime;
    opacity: 0.6;
}

.img3 {
    width: 300px;
    height: 200px;
    margin-left: 900px;
    border: 3px solid lime;
    opacity: 0.6;
}

.img4 {
    width: 200px;
    height: 300px;
    margin-left: 100px;
    margin-top: -700px;
    border: 3px solid lime;
    opacity: 0.6;
}
 /* magic */
.h1 {
    margin-top: 10px;
    margin-left: 100px;
    border: 1px solid lime;
    color: lime;
}

.p1 {
    margin-top: -10px;
    border: 1px solid lime;
    margin-left: 100px;
    color: lime;
}
/* magic */
.h2 {
    margin-top: 10px;
    border: 1px solid lime;
    margin-left: 500px;
    color: lime;

}

.p2 {
    margin-top: -10px;
    margin-left: 500px;
    border: 1px solid lime;
    color: lime;

}
/* magic */
.h3 {
    margin-top: 10px;
    margin-left: 900px;
    border: 1px solid lime;
    color: lime;

}

.p3 {
    margin-top: -10px;
    margin-left: 900px;
    border: 1px solid lime;
    color: lime;

}
/* magic */
.h4 {
    margin-top: 10px;
    margin-left: 100px;
    border: 1px solid lime;
    color: lime;

}

.p4 {
    margin-top: -10px;
    margin-left: 100px;
    border: 1px solid lime;
    color: lime;

}

.item {
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    border-radius: 6px;
    color: blueviolet;
}


.body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: lime;
}

.btn {
    color: lime;
    background-color: black;
}

.input-1{
    color: lime;
    background-color: black;
}

.input-2 {
    color: lime;
    background-color: black;
}

.input-3{
    color: lime;
    background-color: black;
}

.TOKYO-drift {
    margin-top: 100px;
    margin-left: 200px;
    
}

.toyota {
    width: 1440px;
    margin-left: -195px;
    box-shadow:   0 10px 10px 10px blueviolet;
    
}

.toyota2 {
    margin-top: -50px;
    margin-left: -180px;
    color: rgb(255, 255, 255);
    font-size: 30px;
}